<script>
		//function that display value
		function dis(val)
		{
			document.getElementById("result").value+=val
		}

		//function that evaluates the digit and return result
		function solve()
		{
			let x = document.getElementById("result").value
			let y = eval(x)
			document.getElementById("result").value = y
		}

		//function that clear the display
		function clr()
		{
			document.getElementById("result").value = ""
		}
	</script>
	<!-- for styling -->
	<style>
		.title{
		margin-bottom: 10px;
		text-align:right;
		width: 250px;
		color:green;

		}

		input[type="button"]
		{
		background-color:orangered;
		color: black;
		border: solid black 2px;
		width:60%
		}



        div,table{
		margin-bottom: 10px;
		text-align:right;

        height: 60px;
		color:green;
        background-color: gainsboro;
            width: 60%;
		}
	</style>
</head>
<!-- create table -->
<body>
	<table border="6" align="right" >
		<tr>
			<td colspan="3"><input type="text" name="result" id="result"/></td>
			<!-- clr() function will call clr to clear all value -->
            <td><button type="submit" value="c" onclick="clr()">C</button></td>
		</tr>
		<tr style="background-color: black">
			<!-- create button and assign value to each button -->
			<!-- dis("1") will call function dis to display value -->

            <th><button type="submit" value="1" onclick="dis('1')" style="background-color: orange">1</button></th>
            <th><button type="submit" value="2" onclick="dis('2')" style="background-color: white">2</button></th>
            <th><button type="submit" value="3" onclick="dis('3')" style="background-color: green">3</button></th>
            <th><button type="submit" value="/" onclick="dis('/')" style="background-color: orangered">/</button></th>
		</tr>
		<tr style="background-color: black">
            <th><button type="submit" value="4" onclick="dis('4')" style="background-color: cyan">4</button></th>
			 <th><button type="submit" value="5" onclick="dis('5')" style="background-color:brown">5</button></th>
            <th><button type="submit" value="6" onclick="dis('6')" style="background-color: indigo ">6</button></th>
            <th><button type="submit" value="-" onclick="dis('-')" style="background-color: darkgoldenrod">-</button></th>
		</tr>
		<tr style="background-color: black">
             <th><button type="submit" value="7" onclick="dis('7')" style="background-color: darkorchid">7</button></th>
            <th><button type="submit" value="8" onclick="dis('8')" style="background-color: darkturquoise">8</button></th>
            <th><button type="submit" value="9" onclick="dis('9')" style="background-color: palegoldenrod">9</button></th>
            <th><button type="submit" value="+" onclick="dis('+')" style="background-color: olive">+</button></th>
		</tr>
		<tr style="background-color: black">
			<th><button type="submit" value="." onclick="dis('.')" style="background-color: chocolate">.</button></th>
			<th><button type="submit" value="0" onclick="dis('0')" style="background-color: goldenrod">0</button></th>
			<th><button type="submit" value="=" onclick="solve()" style="background-color: navajowhite">=</button></th>
			<th><button type="submit" value="*" onclick="dis('*')" style="background-color: yellow">*</button></th>

		</tr>
	</table>