<html>
<body bgcolor="#bc8f8f">
<form action="/Borde/" method="post">
    {% csrf_token %}
    <table border="18" align="right" width="60%">
       <tr><td>
 <marquee>
     <h4 style="color: yellow">
శ్రీ రామ్ అండ్
 యు.ఎం.ఎన్.ఎం.స్.ర్.స్ హోటల్  /श्री .राम और यू.एम.एन.एम.आर.एस.एस. होतल/Sri.Ram and U.M.N.M.S.R.S Hotal
         </h4>
</marquee>
</td></tr>

<html>
<head>
<script type="text/javascript">

var Options1=[];12
Options1['0']=[['Please select one of the options above first','na']];
 Options1['100']=[["month","month"],["month","month"],["weak","weak"],["day","day"]];
 Options1['101']=[["month","month1"],["month","month1"],["weak","weak1"],["day","day1"]];
 Options1['102']=[["month","month2"],["month","month2"],["weak","weak2"],["day","day2"]];
 Options1['103']=[["month","month3"],["month","month3"],["weak","weak3"],["day","day3"]];
 Options1['104']=[["month","month4"],["month","month4"],["weak","weak4"],["day","day4"]];
 Options1['105']=[["month","month5"],["month","month5"],["weak","weak5"],["day","day5"]];
 Options1['106']=[["month","month6"],["month","month6"],["weak","weak6"],["day","day6"]];
 Options1['107']=[["month","month7"],["month","month7"],["weak","weak7"],["day","day7"]];
 Options1['108']=[["month","month8"],["month","month8"],["weak","weak8"],["day","day8"]];
 Options1['109']=[["month","month9"],["month","month9"],["weak","weak9"],["day","day9"]];
 Options1['110']=[["month","month10"],["month","month10"],["weak","weak10"],["day","day10"]];
 Options1['111']=[["month","month11"],["month","month11"],["weak","weak11"],["day","day11"]];
 Options1['112']=[["month","month12"],["month","month12"],["weak","weak12"],["day","day12"]];
 Options1['113']=[["month","month13"],["month","month13"],["weak","weak13"],["day","day13"]];
 Options1['114']=[["month","month14"],["month","month14"],["weak","weak14"],["day","day14"]];
 Options1['115']=[["month","month15"],["month","month15"],["weak","weak15"],["day","day15"]];
 Options1['116']=[["month","month16"],["month","month16"],["weak","weak16"],["day","day16"]];
 Options1['117']=[["month","month17"],["month","month17"],["weak","weak17"],["day","day17"]];
 Options1['118']=[["month","month18"],["month","month18"],["weak","weak18"],["day","day18"]];
 Options1['119']=[["month","month19"],["month","month19"],["weak","weak19"],["day","day19"]];
 Options1['120']=[["month","month20"],["month","month20"],["weak","weak20"],["day","day20"]];
 Options1['121']=[["month","month21"],["month","month21"],["weak","weak21"],["day","day21"]];
 Options1['122']=[["month","month22"],["month","month22"],["weak","weak22"],["day","day22"]];
 Options1['123']=[["month","month23"],["month","month23"],["weak","weak23"],["day","day23"]];
 Options1['124']=[["month","month24"],["month","month24"],["weak","weak24"],["day","day24"]];
 Options1['125']=[["month","month25"],["month","month25"],["weak","weak25"],["day","day25"]];
 Options1['126']=[["month","month26"],["month","month26"],["weak","weak26"],["day","day26"]];
 Options1['127']=[["month","month27"],["month","month27"],["weak","weak27"],["day","day27"]];
 Options1['128']=[["month","month28"],["month","month28"],["weak","weak28"],["day","day28"]];
 Options1['129']=[["month","month29"],["month","month29"],["weak","weak29"],["day","day29"]];
 Options1['130']=[["month","month30"],["month","month30"],["weak","weak30"],["day","day30"]];
 Options1['131']=[["month","month31"],["month","month31"],["weak","weak31"],["day","day31"]];
 Options1['132']=[["month","month32"],["month","month32"],["weak","weak32"],["day","day32"]];
 Options1['133']=[["month","month33"],["month","month33"],["weak","weak33"],["day","day33"]];
 Options1['134']=[["month","month34"],["month","month34"],["weak","weak34"],["day","day34"]];
 Options1['135']=[["month","month35"],["month","month35"],["weak","weak34"],["day","day35"]];
 Options1['136']=[["month","month36"],["month","month36"],["weak","weak36"],["day","day36"]];


var Options2=[];
Options2['100']=[["month","month"],["month","month"],["weak","weak"],["day","day"]];
 Options2['101']=[["month","month1"],["month","month1"],["weak","weak1"],["day","day1"]];
 Options2['102']=[["month","month2"],["month","month2"],["weak","weak2"],["day","day2"]];
 Options2['103']=[["month","month3"],["month","month3"],["weak","weak3"],["day","day3"]];
 Options2['104']=[["month","month4"],["month","month4"],["weak","weak4"],["day","day4"]];
 Options2['105']=[["month","month5"],["month","month5"],["weak","weak5"],["day","day5"]];
 Options2['106']=[["month","month6"],["month","month6"],["weak","weak6"],["day","day6"]];
 Options2['107']=[["month","month7"],["month","month7"],["weak","weak7"],["day","day7"]];
 Options2['108']=[["month","month8"],["month","month8"],["weak","weak8"],["day","day8"]];
 Options2['109']=[["month","month9"],["month","month9"],["weak","weak9"],["day","day9"]];
 Options2['110']=[["month","month10"],["month","month10"],["weak","weak10"],["day","day10"]];
 Options2['111']=[["month","month11"],["month","month11"],["weak","weak11"],["day","day11"]];
 Options2['112']=[["month","month12"],["month","month12"],["weak","weak12"],["day","day12"]];
 Options2['113']=[["month","month13"],["month","month13"],["weak","weak13"],["day","day13"]];
 Options2['114']=[["month","month14"],["month","month14"],["weak","weak14"],["day","day14"]];
 Options2['115']=[["month","month15"],["month","month15"],["weak","weak15"],["day","day15"]];
 Options2['116']=[["month","month16"],["month","month16"],["weak","weak16"],["day","day16"]];
 Options2['117']=[["month","month17"],["month","month17"],["weak","weak17"],["day","day17"]];
 Options2['118']=[["month","month18"],["month","month18"],["weak","weak18"],["day","day18"]];
 Options2['119']=[["month","month19"],["month","month19"],["weak","weak19"],["day","day19"]];
 Options2['120']=[["month","month20"],["month","month20"],["weak","weak20"],["day","day20"]];
 Options2['121']=[["month","month21"],["month","month21"],["weak","weak21"],["day","day21"]];
 Options2['122']=[["month","month22"],["month","month22"],["weak","weak22"],["day","day22"]];
 Options2['123']=[["month","month23"],["month","month23"],["weak","weak23"],["day","day23"]];
 Options2['124']=[["month","month24"],["month","month24"],["weak","weak24"],["day","day24"]];
 Options2['125']=[["month","month25"],["month","month25"],["weak","weak25"],["day","day25"]];
 Options2['126']=[["month","month26"],["month","month26"],["weak","weak26"],["day","day26"]];
 Options2['127']=[["month","month27"],["month","month27"],["weak","weak27"],["day","day27"]];
 Options2['128']=[["month","month28"],["month","month28"],["weak","weak28"],["day","day28"]];
 Options2['129']=[["month","month29"],["month","month29"],["weak","weak29"],["day","day29"]];
 Options2['130']=[["month","month30"],["month","month30"],["weak","weak30"],["day","day30"]];
 Options2['131']=[["month","month31"],["month","month31"],["weak","weak31"],["day","day31"]];
 Options2['132']=[["month","month32"],["month","month32"],["weak","weak32"],["day","day32"]];
 Options2['133']=[["month","month33"],["month","month33"],["weak","weak33"],["day","day33"]];
 Options2['134']=[["month","month34"],["month","month34"],["weak","weak34"],["day","day34"]];
 Options2['135']=[["month","month35"],["month","month35"],["weak","weak34"],["day","day35"]];
 Options2['136']=[["month","month36"],["month","month36"],["weak","weak36"],["day","day36"]];


var Options3=[];
 Options3['month']=[['5000','5000']];
  Options3['weak']=[['1100','1100']];
  Options3['day']=[['150','150']];
  Options3['month1']=[['6000','6000']];
  Options3['weak1']=[['1400','1400']];
  Options3['day1']=[['200','200']];
  Options3['month2']=[['7000','7000']];
  Options3['weak2']=[['1500','1500']];
  Options3['day2']=[['250','250']];
  Options3['month3']=[['8000','8000']];
  Options3['weak3']=[['1600','1600']];
  Options3['day3']=[['250','250']];
   Options3['month4']=[['8500','8500']];
  Options3['weak4']=[['1650','1650']];
  Options3['day4']=[['150','150']];

  Options3['month5']=[['9000','9000']];
  Options3['weak5']=[['2100','2100']];
  Options3['day5']=[['300','300']];
  Options3['month6']=[['10000','10000']];
  Options3['weak6']=[['2300','2300']];
  Options3['day6']=[['330','330']];
  Options3['month7']=[['11000','11000']];
  Options3['weak7']=[['2560','2560']];
  Options3['day7']=[['360','360']];
  Options3['month8']=[['12000','12000']];
  Options3['weak8']=[['2800','2800']];
  Options3['day8']=[['400','400']];
  Options3['month9']=[['13000','13000']];
  Options3['weak9']=[['3270','3270']];
  Options3['day9']=[['460','460']];
  Options3['month10']=[['15000','15000']];
  Options3['weak10']=[['3500','3500']];
  Options3['day10']=[['500','500']];
  Options3['month10']=[['15000','15000']];
  Options3['weak10']=[['3500','3500']];
  Options3['day10']=[['500','500']];
  Options3['month11']=[['16000','16000']];
  Options3['weak11']=[['3740','3740']];
  Options3['day11']=[['540','540']];
  Options3['month12']=[['17000','17000']];
  Options3['weak12']=[['4000','4000']];
  Options3['day12']=[['560','560']];
  Options3['month13']=[['18000','18000']];
  Options3['weak13']=[['4200','4200']];
  Options3['day13']=[['600','600']];
  Options3['month14']=[['19000','19000']];
  Options3['weak14']=[['4400','4400']];
  Options3['day14']=[['640','640']];
  Options3['month15']=[['20000','20000']];
  Options3['weak15']=[['4700','4700']];
  Options3['day15']=[['670','670']];
   Options3['month16']=[['21000','21000']];
  Options3['weak16']=[['4900','4900']];
  Options3['day16']=[['700','700']];
   Options3['month17']=[['22000','22000']];
  Options3['weak17']=[['5130','5130']];
  Options3['day18']=[['740','740']];
   Options3['month19']=[['23000','23000']];
  Options3['weak19']=[['5400','5400']];
  Options3['day19']=[['770','770']];
   Options3['month20']=[['24000','24000']];
  Options3['weak20']=[['5600','5600']];
  Options3['day20']=[['800','800']];
   Options3['month21']=[['25000','25000']];
  Options3['weak21']=[['5840','5840']];
  Options3['day21']=[['840','840']];
   Options3['month22']=[["26000",'26000']];
  Options3['weak22']=[['6070','6070']];
  Options3['day22']=[['870','870']];
   Options3['month23']=[['27000','27000']];
  Options3['weak23']=[['6300','6300']];
  Options3['day23']=[['900','900']];
   Options3['month24']=[['28000','28000']];
  Options3['weak24']=[['6500','6500']];
  Options3['day24']=[['930','500']];
   Options3['month25']=[['29000','29000']];
  Options3['weak25']=[['6800','6800']];
  Options3['day25']=[['970','970']];
   Options3['month26']=[['30000','30000']];
  Options3['weak26']=[['7000','7000']];
  Options3['day26']=[['1000','1000']];
   Options3['month27']=[['31000','31000']];
  Options3['weak27']=[['7210','7210']];
  Options3['day27']=[['1030','1030']];
   Options3['month28']=[['32000','32000']];
  Options3['weak28']=[['7420','7420']];
  Options3['day28']=[['1060','1060']];
   Options3['month29']=[['33000','33000']];
  Options3['weak29']=[['7630','7630']];
  Options3['day29']=[['1100','1100']];
   Options3['month30']=[['34000','34000']];
  Options3['weak30']=[['7800','7800']];
  Options3['day30']=[['1150','1150']];
   Options3['month31']=[['35000','35000']];
  Options3['weak31']=[['8000','8000']];
  Options3['day31']=[['1180','1180']];
   Options3['month32']=[['36000','36000']];
  Options3['weak32']=[['8400','8400']];
  Options3['day32']=[['1200','1200']];
   Options3['month33']=[['37000','37000']];
  Options3['weak33']=[['8750','8750']];
  Options3['day33']=[['1250','1250']];
   Options3['month34']=[['38000','38000']];
  Options3['weak34']=[['9100','9100']];
  Options3['day34']=[['1300','1300']];
   Options3['month35']=[['39000','39000']];
  Options3['weak35']=[['9550','9550']];
  Options3['day35']=[['1350','1350']];
   Options3['month36']=[['40000','40000']];
  Options3['weak36']=[['10000','10000']];
  Options3['day36']=[['1400','1400']];
function setOptions(s,t,a){
 var frm=s.form,chosen=s.value,selbox=frm[t];
 if (selbox){
  selbox.options.length = 0;
  if (a[chosen]){
   a=a[chosen];
   for (var z0=0;z0<a.length;z0++){
    selbox.options[z0] = new Option(a[z0][0],a[z0][1]);
   }
  }
 }


}

</script>
</head>
<body>

<form name="year" id="exm1" action="/Borde/" method="post">
    {% csrf_token %}


<table width="100%" border="12" align="right">
 <tr>
<td>
<select name="year" size="1" onchange="setOptions(this,'month',Options1);setOptions(this,'Ammount',Options2);">
<option value="0" selected="selected">Room Numbers</option>
<option value="100">100</option>
<option value="101">101</option>
<option value="102">102</option>
<option value="103">103</option>
<option value="104">104</option>
<option value="105">105</option>
<option value="106">106</option>
<option value="107">107</option>
<option value="108">108</option>
<option value="109">109</option>
<option value="110">110</option>
<option value="111">111</option>
<option value="112">112</option>
<option value="113">113</option>
<option value="114">114</option>
<option value="115">115</option>
<option value="116">116</option>
<option value="117">117</option>
<option value="118">118</option>
<option value="119">119</option>
<option value="120">120</option>
<option value="121">121</option>
<option value="122">122</option>
<option value="123">123</option>
<option value="124">124</option>
<option value="125">125</option>
<option value="126">126</option>
<option value="127">127</option>
<option value="128">128</option>
<option value="129">129</option>
<option value="130">130</option>
<option value="131">131</option>
<option value="132">132</option>
<option value="133">133</option>
<option value="134">134</option>
<option value="135">135</option>
<option value="136">136</option>

</select></td>

<td><select name="month" size="1" onchange="setOptions(this,'Ammount',Options3);">
<option value=" " selected="selected">Month&Weak&Day Ammount</option>
</select></td>

<td><select name="Ammount" size="1">
<option value=" " selected="selected">Ammount</option>
</td>
<tr>

<tr><td><input type="text" name="result" placeholder="Total Ammount" required></td></tr>

<tr><td><button type="submit">Send Details</button></td></tr>
</table>


</form>

</body>
</html>

</form>
<script>
		//function that display value
		function dis(val)
		{
			document.getElementById("result").value+=val
		}

		//function that evaluates the digit and return result
		function solve()
		{
			let x = document.getElementById("result").value
			let y = eval(x)
			document.getElementById("result").value = y
		}

		//function that clear the display
		function clr()
		{
			document.getElementById("result").value = ""
		}
	</script>
	<!-- for styling -->
	<style>
		.title{
		margin-bottom: 10px;
		text-align:right;
		width: 250px;
		color:green;

		}

		input[type="button"]
		{
		background-color:orangered;
		color: black;
		border: solid black 2px;
		width:60%
		}



        div,table{
		margin-bottom: 10px;
		text-align:right;

        height: 60px;
		color:green;
        background-color: gainsboro;
            width: 60%;
		}
	</style>
</head>
<!-- create table -->
<body>
	<table border="6" align="right"  >
		<tr>
			<td colspan="3"><input type="text" name="result" id="result"/></td>
			<!-- clr() function will call clr to clear all value -->
            <td><button type="submit" value="c" onclick="clr()">C</button></td>
		</tr>
		<tr style="background-color: black">
			<!-- create button and assign value to each button -->
			<!-- dis("1") will call function dis to display value -->

            <th><button type="submit" value="1" onclick="dis('1')" style="background-color: orange">1</button></th>
            <th><button type="submit" value="2" onclick="dis('2')" style="background-color: white">2</button></th>
            <th><button type="submit" value="3" onclick="dis('3')" style="background-color: green">3</button></th>
            <th><button type="submit" value="/" onclick="dis('/')" style="background-color: orangered">/</button></th>
		</tr>
		<tr style="background-color: black">
            <th><button type="submit" value="4" onclick="dis('4')" style="background-color: cyan">4</button></th>
			 <th><button type="submit" value="5" onclick="dis('5')" style="background-color:brown">5</button></th>
            <th><button type="submit" value="6" onclick="dis('6')" style="background-color: indigo ">6</button></th>
            <th><button type="submit" value="-" onclick="dis('-')" style="background-color: darkgoldenrod">-</button></th>
		</tr>
		<tr style="background-color: black">
             <th><button type="submit" value="7" onclick="dis('7')" style="background-color: darkorchid">7</button></th>
            <th><button type="submit" value="8" onclick="dis('8')" style="background-color: darkturquoise">8</button></th>
            <th><button type="submit" value="9" onclick="dis('9')" style="background-color: palegoldenrod">9</button></th>
            <th><button type="submit" value="+" onclick="dis('+')" style="background-color: olive">+</button></th>
		</tr>
		<tr style="background-color: black">
			<th><button type="submit" value="." onclick="dis('.')" style="background-color: chocolate">.</button></th>
			<th><button type="submit" value="0" onclick="dis('0')" style="background-color: goldenrod">0</button></th>
			<th><button type="submit" value="=" onclick="solve()" style="background-color: navajowhite">=</button></th>
			<th><button type="submit" value="*" onclick="dis('*')" style="background-color: yellow">*</button></th>

		</tr>
	</table>
</form>
    <input type="submit" value="Go Back!" onclick="history.back()">
</body>
</html>