{% load staticfiles %}
<html>
<body background="{% static "images/hotal.jpg" %}">
{% include "Threed Effect.html" %}
<form action="/index2/" method="post">
    {% csrf_token %}
    <table border="18" bgcolor="green" align="center">
        <td><input type="text" name="name" placeholder="Enter Name" required></td>
        <td><input type="number" name="age" placeholder="Enter age" required></td>
        <td><input type="number" name="phone" placeholder="Enter phone" required></td>
        <td><input type="datetime-local" name="std"  required></td>
        <td><input type="date" name="end"  required></td>
        <td>
            <select name="Room" required>
            <option value="Room">Room</option>
            <option value="100" name="100" >100</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="103">103</option>
            <option value="104">104</option>
            <option value="105">105</option>
            <option value="106">106</option>
            <option value="107">107</option>
            <option value="108">106</option>
            <option value="109">109</option>
            <option value="110">110</option>
            <option value="111">111</option>
            <option value="112">112</option>
            <option value="113">113</option>
            <option value="114">114</option>
            <option value="115">115</option>
            <option value="116">116</option>
            <option value="117">117</option>
            <option value="118">118</option>
            <option value="119">119</option>
            <option value="120">120</option>
            <option value="121">121</option>
            <option value="122">122</option>
            <option value="123">123</option>
            <option value="124">124</option>
            <option value="125">125</option>
            <option value="126">126</option>
            <option value="127">127</option>
            <option value="128">128</option>
            <option value="129">129</option>
            <option value="130">130</option>
            <option value="131">131</option>
            <option value="132">132</option>
            <option value="133">133</option>
            <option value="134">134</option>
            <option value="135">135</option>
            <option value="136">136</option>
            </select></td>
        <td><button type="submit">Details</button></td></tr>
    </table>
</form>
<button type="submit">{% include "logout.html" %}</button>
<input type="submit" value="Go Back!" onclick="history.back()">
</body>
</html>