{% load staticfiles %}
<html>
<body>
<form>
    <table bgcolor="orange" align="center" border="18">

            <style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<tr><td width="30">
    <button type="submit">
<div class="dropdown">
  <span><option value="100">100</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi.jpg" %}"></p>
  </div>
</div>
</td>
    </button>
    <td width="30">
         <button type="submit">
        <div class="dropdown">
  <span><option value="101">101</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi1.jpg" %}"></p>
  </div>
    </td>
<td width="30">
     <button type="submit">
  <div class="dropdown">
  <span><option value="102">102</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi2.jpg" %}"></p>
  </div>
</td>
<td width="30">
     <button type="submit">
   <div class="dropdown">
  <span><option value="103">103</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi3.jpg" %}"></p>
  </div>
 </td>
<td width="30">
     <button type="submit">
  <div class="dropdown">
  <span><option value="104">104</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi11.jpg" %}"></p>
  </div>
 </td>
<td width="30">
    <button type="submit">
   <div class="dropdown">
  <span><option value="105">105</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi5.jpg" %}"></p>
  </div>
 </td>
<td width="30">
    <button type="submit">
   <div class="dropdown">
  <span><option value="106">106</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi6.jpg" %}"></p>
  </div>
 </td>
<td width="30">
    <button type="submit">
  <div class="dropdown">
  <span><option value="107">107</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi7.jpg" %}"></p>
  </div>
</td>
<td width="30">
    <button type="submit">
  <div class="dropdown">
  <span><option value="108">108</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi8.jpg" %}"></p>
  </div>
 </td>
<td width="30">
    <button type="submit">
 <div class="dropdown">
  <span><option value="109">109</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi9.jpg" %}"></p>
  </div>
 </td>
<td width="30">
    <button type="submit">
  <div class="dropdown">
  <span><option value="110">110</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi10.jpg" %}"></p>
  </div>
</td>
<td width="30">
    <button type="submit">
  <div class="dropdown">
  <span><option value="111">111</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi12.jpg" %}"></p>
  </div>
</td>
 <td width="30">
     <button type="submit">
  <div class="dropdown">
  <span><option value="112">112</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi13.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="113">113</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi14.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="114">114</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi15.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="115">115</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi16.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="116">116</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi17.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="117">117</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi18.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="118">118</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi19.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="120">120</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi20.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="121">121</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi21.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="122">122</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi22.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="123">123</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi23.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="124">124</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi24.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="125">125</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi25.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="126">126</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi26.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="127">110</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi27.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="128">128</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi28.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="129">129</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi29.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="130">130</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi30.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="131">131</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi31.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="132">132</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi32.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="133">133</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi33.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="134">134</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi34.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="135">135</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi35.jpg" %}"></p>
  </div>
</td>
    <td width="30">
        <button type="submit">
  <div class="dropdown">
  <span><option value="136">136</option></span>
  <div class="dropdown-content">
  <p><img src="{% static "images/Rhi36.jpg" %}"></p>
  </div>

  </div>
        </button>
    </td>



</div>

    </table>
</form>
</body>
</html>