{% load staticfiles %}
<html>
<body>
 <input type="submit" value="Go Back!" onclick="history.back()">
<form>
    <table border="6">
        <tr><td><a href="{% url "index7" %}" ><h1 style="color: red" >100</h1></a></td>
            <td><a href="{% url "index9" %}" ><h1 style="color: red" >101</h1></a></td>
            <td><a href="{% url "index10" %}" ><h1 style="color: red" >102</h1></a></td>
            <td><a href="{% url "index11" %}" ><h1 style="color: red" >103</h1></a></td>
            <td><a href="{% url "index12" %}" ><h1 style="color: red" >104</h1></a></td></tr>
        <tr>    <td><img src="{% static "images/Rhi.jpg" %}"></td>
                <td><img src="{% static "images/Rhi1.jpg" %}"></td>
                <td><img src="{% static "images/Rhi2.jpg" %}"></td>
                <td><img src="{% static "images/Rhi3.jpg" %}"></td>
                <td><img src="{% static "images/Rho4.jpg" %}" width="260" height="200"></td></tr>
        <tr><td><a href="{% url "index13" %}" ><h1 style="color: red" >105</h1></a></td>
            <td><a href="{% url "index14" %}" ><h1 style="color: red" >106</h1></a></td>
            <td><a href="{% url "index15" %}" ><h1 style="color: red" >107</h1></a></td>
            <td><a href="{% url "index16" %}" ><h1 style="color: red" >108</h1></a></td>
            <td><a href="{% url "index17" %}" ><h1 style="color: red" >109</h1></a></td></tr>
        <tr>    <td><img src="{% static "images/Rhi5.jpg" %}"></td>
                <td><img src="{% static "images/Rhi6.jpg" %}"></td>
                <td><img src="{% static "images/Rhi7.jpg" %}"></td>
                <td><img src="{% static "images/Rhi8.jpg" %}"></td>
                <td><img src="{% static "images/Rhi9.jpg" %}"></td></tr>
        <tr><td><a href="{% url "index18" %}" ><h1 style="color: red" >110</h1></a></td>
            <td><a href="{% url "index19" %}" ><h1 style="color: red" >111</h1></a></td>
            <td><a href="{% url "index20" %}" ><h1 style="color: red" >112</h1></a></td>
            <td><a href="{% url "index21" %}" ><h1 style="color: red" >113</h1></a></td>
            <td><a href="{% url "index22" %}" ><h1 style="color: red" >114</h1></a></td></tr>
        <tr>    <td><img src="{% static "images/Rhi10.jpg" %}"></td>
                <td><img src="{% static "images/Rhi11.jpg" %}"></td>
                <td><img src="{% static "images/Rhi12.jpg" %}"></td>
                <td><img src="{% static "images/Rhi13.jpg" %}"></td>
                <td><img src="{% static "images/Rhi14.jpg" %}"></td></tr>
        <tr><td><a href="{% url "index23" %}" ><h1 style="color: red" >115</h1></a></td>
            <td><a href="{% url "index24" %}" ><h1 style="color: red" >116</h1></a></td>
            <td><a href="{% url "index25" %}" ><h1 style="color: red" >117</h1></a></td>
            <td><a href="{% url "index26" %}" ><h1 style="color: red" >118</h1></a></td>
            <td><a href="{% url "index27" %}" ><h1 style="color: red" >119</h1></a></td></tr>
        <tr>    <td><img src="{% static "images/Rhi15.jpg" %}"></td>
                <td><img src="{% static "images/Rhi16.jpg" %}"></td>
                <td><img src="{% static "images/Rhi17.jpg" %}"></td>
                <td><img src="{% static "images/Rhi18.jpg" %}"></td>
                <td><img src="{% static "images/Rhi19.jpg" %}"></td></tr>
        <tr><td><a href="{% url "index28" %}" ><h1 style="color: red" >120</h1></a></td>
            <td><a href="{% url "index29" %}" ><h1 style="color: red" >121</h1></a></td>
            <td><a href="{% url "index30" %}" ><h1 style="color: red" >122</h1></a></td>
            <td><a href="{% url "index31" %}" ><h1 style="color: red" >123</h1></a></td>
            <td><a href="{% url "index32" %}" ><h1 style="color: red" >124</h1></a></td></tr>
        <tr>    <td><img src="{% static "images/Rhi20.jpg" %}"></td>
                <td><img src="{% static "images/Rhi21.jpg" %}"></td>
                <td><img src="{% static "images/Rhi22.jpg" %}"></td>
                <td><img src="{% static "images/Rhi23.jpg" %}"></td>
                <td><img src="{% static "images/Rhi24.jpg" %}"></td></tr>
        <tr><td><a href="{% url "index33" %}" ><h1 style="color: red" >125</h1></a></td>
            <td><a href="{% url "index34" %}" ><h1 style="color: red" >126</h1></a></td>
            <td><a href="{% url "index35" %}" ><h1 style="color: red" >127</h1></a></td>
            <td><a href="{% url "index36" %}" ><h1 style="color: red" >128</h1></a></td>
            <td><a href="{% url "index37" %}" ><h1 style="color: red" >129</h1></a></td></tr>
        <tr>    <td><img src="{% static "images/Rhi25.jpg" %}"></td>
                <td><img src="{% static "images/Rhi26.jpg" %}"></td>
                <td><img src="{% static "images/Rhi27.jpg" %}"></td>
                <td><img src="{% static "images/Rhi28.jpg" %}"></td>
                <td><img src="{% static "images/Rhi29.jpg" %}"></td></tr>
        <tr><td><a href="{% url "index38" %}" ><h1 style="color: red" >130</h1></a></td>
            <td><a href="{% url "index39" %}" ><h1 style="color: red" >131</h1></a></td>
            <td><a href="{% url "index40" %}" ><h1 style="color: red" >132</h1></a></td>
            <td><a href="{% url "index41" %}" ><h1 style="color: red" >133</h1></a></td>
            <td><a href="{% url "index42" %}" ><h1 style="color: red" >134</h1></a></td></tr>
         <tr>   <td><img src="{% static "images/Rhi30.jpg" %}"></td>
                <td><img src="{% static "images/Rhi31.jpg" %}"></td>
                <td><img src="{% static "images/Rhi32.jpg" %}"></td>
                <td><img src="{% static "images/Rhi33.jpg" %}"></td>
                <td><img src="{% static "images/Rhi34.jpg" %}"></td></tr>
        <tr><td><a href="{% url "index43" %}" ><h1 style="color: red" >135</h1></a></td>
            <td><a href="{% url "index44" %}" ><h1 style="color: red" >136</h1></a></td>
        </tr>
          <tr>  <td><img src="{% static "images/Rhi35.jpg" %}" width="250" height="220"></td>
                <td><img src="{% static "images/Rhi36.jpg" %}"></td>
        </tr>
    </table>
</form>
</body>
</html>